* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* overflow-x: hidden;git ggggg */
}

header {
  width: 100vw;
  background-color: #fff;
  border-bottom: 1px solid #eceaea;
  font-size: 1vw;
  position: fixed;
  top: 0;
  height: 18vh;
}

@media screen and (max-width: 768px) {
  header {
    height: 22vh;
  }
}

@media screen and (max-width: 425px) {
  header {
    height: 33vh;
  }
}

@media screen and (max-width: 320px) {
  header {
    height: 35vh;
  }
}

header > nav {
}

header > nav > .t-nav-l {
  background-color: #eee;
}

header > nav > .t-nav-l > .t-nav {
  width: 84vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5vh;
  font-size: 1vw;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  header > nav > .t-nav-l > .t-nav {
    font-size: 1.6vw;
    width: 90vw;
  }
}

@media screen and (max-width: 425px) {
  header > nav > .t-nav-l > .t-nav {
    width: 95vw;
    height: 20vh;
    font-size: 3vw;
  }
}

@media screen and (max-width: 320px) {
  header > nav > .t-nav-l > .t-nav {
    width: 95vw;
    height: 20vh;
    font-size: 4.5vw;
  }
}

header > nav > .t-nav-l > .t-nav > ol {
  display: flex;
  gap: 1vw;
}

@media screen and (max-width: 425px) {
  header > nav > .t-nav-l > .t-nav > ol {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  header > nav > .t-nav-l > .t-nav > ol {
    display: flex;
    flex-direction: column;
  }
}

header > nav > .t-nav-l > .t-nav > ol > li {
  list-style: none;
}

header > nav > .t-nav-l > .t-nav > ol > li > a {
  text-decoration: none;
  color: #666666;
  font-size: 1vw;
}

@media screen and (max-width: 768px) {
  header > nav > .t-nav-l > .t-nav > ol > li > a {
    font-size: 1.64vw;
  }
}

@media screen and (max-width: 425px) {
  header > nav > .t-nav-l > .t-nav > ol > li > a {
    font-size: 3vw;
  }
}

@media screen and (max-width: 320px) {
  header > nav > .t-nav-l > .t-nav > ol > li > a {
    font-size: 5vw;
  }
}
/* ------------- */
header > nav > .t-nav-l > .t-nav > ol > li > a > svg {
  margin-right: 0.5vw;
}

header > nav > .t-nav-l > .t-nav > ol > li > a > svg > path {
}
/* ------------------- */

header > nav > .t-nav-l > .t-nav > ol > li > a > .envelop {
}

header > nav > .t-nav-l > .t-nav > ol > li > a > .Phone {
}

header > nav > .t-nav-l > .t-nav > ol > li > a > img {
  margin-right: 0.5vw;
  width: 1vw;
  background-color: transparent;
  color: transparent;
}

@media screen and (max-width: 425px) {
  header > nav > .t-nav-l > .t-nav > ol > li > a > img {
    width: 5vw;
  }
}

@media screen and (max-width: 320px) {
  header > nav > .t-nav-l > .t-nav > ol > li > a > img {
    width: 5vw;
  }
}

header > nav > .t-nav-l > .t-nav > ol > li > a > span {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

header > nav > .t-nav-l > .t-nav > ol > li > a > span > img {
}

header > nav > .t-nav-l > .t-nav > .drop-d {
}

header > nav > .t-nav-l > .t-nav > .drop-d > #lang {
  border: none;
  outline: none;
  appearance: none;
  padding: 0.9vw;
}

header > nav > .t-nav-l > .t-nav > .drop-d > #lang > option {
  border: none;
  outline: none;
}

.b-nav {
}

.b-nav > .b-nav-item {
  width: 84vw;
  margin: auto;
  display: flex;
  align-items: center;
  column-gap: 3.25vw;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  font-weight: 600;
  justify-content: space-between;
}

.b-nav > .b-nav-item > img {
  width: 15vw;
}

@media screen and (max-width: 768px) {
  .b-nav > .b-nav-item > img {
    width: 30vw;
  }
}

@media screen and (max-width: 425px) {
  .b-nav > .b-nav-item > img {
    width: 40vw;
  }
}

@media screen and (max-width: 320px) {
  .b-nav > .b-nav-item > img {
    width: 60vw;
  }
}

.b-nav > .b-nav-item > a {
  text-decoration: none;
  color: #666666;
}

@media screen and (max-width: 768px) {
  .b-nav > .b-nav-item > a {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .b-nav > .b-nav-item > a {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .b-nav > .b-nav-item > a {
    display: none;
  }
}

.b-nav > .b-nav-item > .d-n {
  background-color: #006fb7;
  color: #fff;
  padding: 1.5vh 2.5vw;
  text-align: center;
  border-radius: 0.3vw;
  border: none;
}

.b-nav > .b-nav-item > .b-s {
  background-color: #7ac849;
  color: #fff;
  padding: 1.5vh 2.35vw;
  text-align: center;
  border-radius: 0.3vw;
  border: 1px solid #006fb7;
}

.b-nav > .b-nav-item > .br {
  display: none;
}

@media screen and (max-width: 768px) {
  .b-nav > .b-nav-item > .br {
    display: block;
  }
  .b-nav > .b-nav-item > .br > img {
    width: 7vw;
    border: 1px solid #666666;
  }
}

@media screen and (max-width: 425px) {
  .b-nav > .b-nav-item > .br {
    display: block;
  }
  .b-nav > .b-nav-item > .br > img {
    width: 12vw;
    border: 1px solid #666666;
  }
}

@media screen and (max-width: 320px) {
  .b-nav > .b-nav-item > .br {
    display: block;
  }
  .b-nav > .b-nav-item > .br > img {
    width: 18vw;
    border: 1px solid #666666;
  }
}

/* <!-- hero start  --> */

.hero {
}

.hero > .hero-item {
  width: 84vw;
  margin: 22vh auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .hero > .hero-item {
    margin-top: 24vh;
  }
}

@media screen and (max-width: 425px) {
  .hero > .hero-item {
    margin-top: 35vh;
  }
}

.hero > .hero-item > .l {
  width: 25vw;
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}

@media screen and (max-width: 425px) {
  .hero > .hero-item > .l {
    width: 100vw;
  }
}

.hero > .hero-item > .l > h1 {
  color: #312f2f;
}

.hero > .hero-item > .l > h1 > span {
  color: #7ac849;
}

.hero > .hero-item > .l > h3 {
  color: #312f2f;
}

.hero > .hero-item > .l > p {
}

.hero > .hero-item > .l > p {
  color: #666666;
}

.hero > .hero-item > .l > .btn {
  display: flex;
  column-gap: 2vw;
  border: 1px solid #666666;
  /* align-content: center; */
  justify-content: center;
  padding: 2.5vh 1vw;
  width: 15vw;
  border-radius: 0.3vw;
}

@media screen and (max-width: 768px) {
  .hero > .hero-item > .l > .btn {
    width: 18vw;
  }
}

@media screen and (max-width: 425px) {
  .hero > .hero-item > .l > .btn {
    width: 35vw;
  }
}

@media screen and (max-width: 320px) {
  .hero > .hero-item > .l > .btn {
    width: 40vw;
  }
}

.hero > .hero-item > .l > .btn > a {
  text-decoration: none;
  color: #666666;
  font-size: 1vw;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .hero > .hero-item > .l > .btn > a {
    font-size: 1.75vw;
  }
}

@media screen and (max-width: 425px) {
  .hero > .hero-item > .l > .btn > a {
    font-size: 3vw;
  }
}

@media screen and (max-width: 425px) {
  .hero > .hero-item > .l > .btn > a {
    font-size: 3.75vw;
  }
}

.hero > .hero-item > .l > .btn > .fa-arrow-right-long {
  color: #666666;
  margin-top: 0.5vh;
  text-align: center;
}

.hero > .hero-item > .r {
}

.hero > .hero-item > .r > img {
  width: 35vw;
}

@media screen and (max-width: 425px) {
  .hero > .hero-item > .r > img {
    display: none;
  }
}
/* <!-- hero end --> */

/* <!-- <section>2 --> */
.sec-2 {
  width: 84vw;
  margin: auto;
}

.sec-2 > h1 {
  text-align: center;
}

.sec-2 > .c-cont {
  display: flex;
  /* row-gap: 1vh; */
  /* column-gap: 2vw; */
  justify-content: space-between;
  margin-top: 6vh;
}

@media screen and (max-width: 768px) {
  .sec-2 > .c-cont {
    flex-wrap: wrap;
    row-gap: 7vh;
    /* column-gap: 1vw; */
  }
}

@media screen and (max-width: 425px) {
   {
  }
}

.sec-2 > .c-cont > .card {
}

.sec-2 > .c-cont > .card > .img {
  width: 11.7vw;
  height: 18.5vh;
  background-repeat: no-repeat;
  background-color: #edfcdd;
  background-position: center;
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
}

@media screen and (max-width: 768px) {
  .sec-2 > .c-cont > .card > .img {
    width: 26.2vw;
    height: 30.5vh;
  }
}

@media screen and (max-width: 425px) {
  .sec-2 > .c-cont > .card > .img {
    width: 83.2vw;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
  }
}

.sec-2 > .c-cont > .card > .ti {
}

.sec-2 > .c-cont > .card > .ti > h4 {
  background-color: #edfcdd;
  text-align: center;
  width: 11.7vw;
  height: 6vh;
  border-bottom-left-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
}

@media screen and (max-width: 768px) {
  .sec-2 > .c-cont > .card > .ti > h4 {
    width: 26.2vw;
    height: 7vh;
  }
}

@media screen and (max-width: 425px) {
  .sec-2 > .c-cont > .card > .ti > h4 {
    width: 83.2vw;

    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
  }
}
/* <!-- </section>2 --> */

/* <section>3 */
.sec-3 {
  width: 84vw;
  margin: auto;
  margin-top: 5vh;
}

.sec-3 > .c-3-c-cont {
  display: flex;
  column-gap: 4vh;
}

@media screen and (max-width: 768px) {
  .sec-3 > .c-3-c-cont {
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2vw;
  }
}

@media screen and (max-width: 425px) {
  .sec-3 > .c-3-c-cont {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 320px) {
  .sec-3 > .c-3-c-cont {
    flex-wrap: wrap;
  }
}

.sec-3 > .c-3-c-cont > .card {
  height: 47vh;
  display: block;
  width: 62vh;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  color: #fff;
  border-radius: 0.5vw;
  background-size: 100% 100%;
}

@media screen and (max-width: 768px) {
  .sec-3 > .c-3-c-cont > .card {
    width: 40vw;
  }
}

@media screen and (max-width: 425px) {
  .sec-3 > .c-3-c-cont > .card {
    width: 83vw;
  }
}

@media screen and (max-width: 320px) {
  .sec-3 > .c-3-c-cont > .card {
    width: 84vw;
    border-radius: 1vw;
  }
}

.sec-3 > .c-3-c-cont > .card > .c-dtl {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 26vw;
  margin: 0 auto;
  margin-bottom: 1vh;
}

@media screen and (max-width: 768px) {
  .sec-3 > .c-3-c-cont > .card > .c-dtl {
    width: 37vw;
  }
}

@media screen and (max-width: 425px) {
  .sec-3 > .c-3-c-cont > .card > .c-dtl {
    width: 81vw;
  }
}

@media screen and (max-width: 320px) {
  .sec-3 > .c-3-c-cont > .card > .c-dtl {
  }
}

.sec-3 > .c-3-c-cont > .card > .c-dtl > h4 {
}

.sec-3 > .c-3-c-cont > .card > .c-dtl > p {
  background-color: hsla(97, 54%, 54%, 0.871);
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 0.35vw;
}

/* </section>3 */

/* <footer> */
footer {
  background-size: 100% 100%;
  width: 98.7vw;
  height: 82vh;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5vh;
  color: #666666;
}

@media screen and (max-width: 425px) {
  footer {
    height: 190vh;
  }
}

footer p,
footer h3,
footer a {
  text-decoration: none;
  color: #fff;
}

footer > .ft-con {
  width: 84vw;
  margin: 0 auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7vh;
}

@media screen and (max-width: 425px) {
  footer > .ft-con {
  }
}

footer > .ft-con > .one {
  display: flex;
  column-gap: 7vw;
  border-bottom: 1px solid #949090;
  padding-bottom: 2vh;
}

@media screen and (max-width: 425px) {
  footer > .ft-con > .one {
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
  }
}

footer > .ft-con > .one > .one-1 {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}

@media screen and (max-width: 425px) {
  footer > .ft-con > .one > .one-1 {
    align-items: center;
  }
}

footer > .ft-con > .one > .one-1 > .logo {
  display: flex;
}

footer > .ft-con > .one > .one-1 > .logo > img {
  width: 18vw;
}

@media screen and (max-width: 768px) {
  footer > .ft-con > .one > .one-1 > .logo > img {
    width: 33vw;
  }
}

@media screen and (max-width: 425px) {
  footer > .ft-con > .one > .one-1 > .logo > img {
    width: 75vw;
  }
}

footer > .ft-con > .one > .one-1 > .soc {
  display: flex;
  column-gap: 0.5vw;
}

@media screen and (max-width: 768px) {
  footer > .ft-con > .one > .one-1 > .soc {
    column-gap: 1vw;
  }
}

@media screen and (max-width: 425px) {
  footer > .ft-con > .one > .one-1 > .soc {
    column-gap: 3vw;
  }
}

footer > .ft-con > .one > .one-1 > .soc > .fb {
}

footer > .ft-con > .one > .one-1 > .soc > .fb > .fa-facebook-f {
  font-size: 2vw;
  background-color: rgb(69 114 226);
  padding: 0.5vw 2.25vh;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  footer > .ft-con > .one > .one-1 > .soc > .fb > .fa-facebook-f {
    padding: 1.3vw 2.1vw;
    font-size: 3.25vw;
  }
}

@media screen and (max-width: 425px) {
  footer > .ft-con > .one > .one-1 > .soc > .fb > .fa-facebook-f {
    font-size: 7.25vw;
    padding: 2.3vw 3.5vw;
  }
}

footer > .ft-con > .one > .one-1 > .soc > .x {
}

footer > .ft-con > .one > .one-1 > .soc > .x > .fa-x-twitter {
  font-size: 2vw;
  background-color: rgb(0 0 0);
  padding: 0.5vw 1.5vh;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  footer > .ft-con > .one > .one-1 > .soc > .x > .fa-x-twitter {
    padding: 1.3vw 2.3vh;
    font-size: 3.25vw;
  }
}

@media screen and (max-width: 425px) {
  footer > .ft-con > .one > .one-1 > .soc > .x > .fa-x-twitter {
    font-size: 7.25vw;
    padding: 2.3vw 3.1vw;
  }
}

footer > .ft-con > .one > .one-1 > .soc > .yt {
}

footer > .ft-con > .one > .one-1 > .soc > .yt > .fa-youtube {
  font-size: 2vw;
  background-color: rgb(248 97 75);
  padding: 0.5vw 1.25vh;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  footer > .ft-con > .one > .one-1 > .soc > .yt > .fa-youtube {
    padding: 1.3vw 2.3vh;
    font-size: 3.25vw;
  }
}

@media screen and (max-width: 425px) {
  footer > .ft-con > .one > .one-1 > .soc > .yt > .fa-youtube {
    font-size: 7.25vw;
    padding: 2.3vw 3.1vw;
  }
}

footer > .ft-con > .one > .one-1 > .soc > .wta {
}

footer > .ft-con > .one > .one-1 > .soc > .wta > .fa-whatsapp {
  font-size: 2vw;
  background-color: #00821a;
  padding: 0.5vw 1.5vh;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  footer > .ft-con > .one > .one-1 > .soc > .wta > .fa-whatsapp {
    padding: 1.3vw 2.3vh;
    font-size: 3.25vw;
  }
}

@media screen and (max-width: 425px) {
  footer > .ft-con > .one > .one-1 > .soc > .wta > .fa-whatsapp {
    font-size: 7.25vw;
    padding: 2.3vw 3.1vw;
  }
}

footer > .ft-con > .one > .one-2 {
  display: flex;
  flex-direction: column;
  row-gap: 2.5vh;
}

footer > .ft-con > .one > .one-2 > h3 {
  font-size: 1.25vw;
}

@media screen and (max-width: 768px) {
  footer > .ft-con > .one > .one-2 > h3 {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 425px) {
  footer > .ft-con > .one > .one-2 > h3 {
    font-size: 4.1vw;
  }
}

footer > .ft-con > .one > .one-2 > a {
  font-size: 1.15vw;
}

@media screen and (max-width: 768px) {
  footer > .ft-con > .one > .one-2 > a {
    font-size: 1.35vw;
  }
}

@media screen and (max-width: 425px) {
  footer > .ft-con > .one > .one-2 > a {
    font-size: 3vw;
  }
}

footer > .ft-con > .one > .one-3 {
  display: flex;
  flex-direction: column;
  row-gap: 2.5vh;
}

footer > .ft-con > .one > .one-3 > h3 {
  font-size: 1.25vw;
}

@media screen and (max-width: 768px) {
  footer > .ft-con > .one > .one-3 > h3 {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 425px) {
  footer > .ft-con > .one > .one-3 > h3 {
    font-size: 4.1vw;
  }
}

footer > .ft-con > .one > .one-3 > a {
  font-size: 1.15vw;
}

@media screen and (max-width: 768px) {
  footer > .ft-con > .one > .one-3 > a {
    font-size: 1.35vw;
  }
}

@media screen and (max-width: 425px) {
  footer > .ft-con > .one > .one-3 > a {
    font-size: 3vw;
  }
}

footer > .ft-con > .one > .one-4 {
  display: flex;
  flex-direction: column;
  row-gap: 0.5vh;
}

footer > .ft-con > .one > .one-4 > h3 {
  font-size: 1.25vw;
}

@media screen and (max-width: 768px) {
  footer > .ft-con > .one > .one-4 > h3 {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 425px) {
  footer > .ft-con {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  footer > .ft-con > .one > .one-4 > h3 {
    font-size: 4.1vw;
  }
}

footer > .ft-con > .one > .one-4 > p {
  font-size: 0.9vw;
}

@media screen and (max-width: 768px) {
  footer > .ft-con > .one > .one-4 > p {
    font-size: 1.25vw;
  }
}

@media screen and (max-width: 425px) {
  footer > .ft-con > .one > .one-4 > p {
    text-align: center;
    font-size: 3vw;
  }
}

footer > .ft-con > .two {
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: 1px solid #949090;
  display: flex;
  width: 75vw;
  align-items: center;
  justify-content: center;
}

footer > .ft-con > .two > .img {
}

footer > .ft-con > .two > .img > img {
  width: 14vw;
}

@media screen and (max-width: 768px) {
  footer > .ft-con > .two > .img > img {
    width: 25vw;
  }
}

@media screen and (max-width: 425px) {
  footer > .ft-con > .two > .img > img {
    width: 60vw;
  }
}

footer > .ft-con > .three {
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: 1px solid #949090;
  display: flex;
  width: 75vw;
  align-items: center;
  justify-content: center;
}

footer > .ft-con > .three > p {
  font-size: 1.25vw;
}

@media screen and (max-width: 768px) {
  footer > .ft-con > .three > p {
    font-size: 2vw;
  }
}

@media screen and (max-width: 425px) {
  footer > .ft-con > .three > p {
    font-size: 3vw;
  }
}

footer > .ft-con > .three > p > span {
  font-size: 1.25vw;
  color: #006fb7;
}

@media screen and (max-width: 768px) {
  footer > .ft-con > .three > p > span {
    font-size: 2vw;
  }
}

@media screen and (max-width: 425px) {
  footer > .ft-con > .three > p > span {
    font-size: 4vw;
  }
}

footer > .ft-con > .four {
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: flex;
  width: 75vw;
  align-items: center;
  justify-content: center;
}

footer > .ft-con > .four > p {
  font-size: 1.25vw;
}
@media screen and (max-width: 768px) {
  footer > .ft-con > .four > p {
    font-size: 2vw;
  }
}

@media screen and (max-width: 425px) {
  footer > .ft-con > .four > p {
    font-size: 3vw;
  }
}
/* </footer> */
